.yin1-app-wrapper {
    margin: 32px 24px 44px 24px;
    position: relative;
}

.yin1-validator-widget-wrapper {
    width: inherit;
    height: 100px;
    position: relative;
}

.yin1-validator-restart-img {
    background-image: url('res/restart.png');
    width: 23px;
    height: 28px;
    background-size: contain;
}

.yin1-validator-restart-img:hover {
    filter: hue-rotate(180deg);
}

.yin1-validator-widget-wrapper .cjaf-button
{
    position: absolute
}


.yin1-validator-pop-up-window {
    position: absolute;
    width: 772px;
    border-style: solid;
    border-width: 10px;
    left: 120px;
    border-color: white;
    background-color: #F5F4EF;
    box-shadow: 0 0 3px 1px #CCCCCC;
}

.yin1-validator-modal-window {
    position: absolute;
    box-shadow: 0 0 3px 1px #CCCCCC;
    margin: auto;
    width: 380px;
    border-style: solid;
    left: 0;
    top: 300px;
    border-width: 10px;
    border-color: white;
    background-color: #F5F4EF;
    right: 0;
    padding: 10px;
    z-index: 1000;
}

.yin1-step1-label-drag-label.ui-draggable-dragging {
    top: 0px;
    left: 0px;
    border-style: solid;
}

.yin1-step1-label-drag-label-tag {
    border-width: 2px;
    border-color: #4ECDE4;
    border-radius: 50px;
    border-style: solid;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    display: inline-block;
    top: 0px;
    /* right: 0px; */
    /* text-align: left; */
    /* bottom: 0px; */
    z-index: 9;
    /* background-color: white; */
}

.yin1-step1-label-drag-label-tag-wrong + .yin1-step1-label-drag-label {
    color: #F16746;
}

.yin1-step1-label-drag-label-tag-wrong {
    border-color: #F16746;
}

.yin1-step1-label-drag-trap {
    background-size: cover;
    background-repeat: no-repeat;
    width: 214px;
}

#yin1-step1-label-drag-trap-img-1 { background-image: url('res/1.png');height: 113px;top: 20px;left: 170px;}
#yin1-step1-label-drag-trap-img-1.ui-droppable-hover { background-image: url('res/1h.png'); background-position-y: -4px;}
#yin1-step1-label-drag-trap-img-2 { background-image: url('res/2.png');left: 170px;height: 174px;top: 132px;}
#yin1-step1-label-drag-trap-img-2.ui-droppable-hover { background-image: url('res/2h.png'); }
#yin1-step1-label-drag-trap-img-3 { background-image: url('res/3.png');top: 305px;left: 170px;height: 65px;}
#yin1-step1-label-drag-trap-img-3.ui-droppable-hover { background-image: url('res/3h.png'); }

.yin1-step1-label-drag-label-wrapper {
    height: 75px;
    min-width: 160px;
}

.yin1-step1-label-drag-trapped-label-wrapper {
    position: absolute;
    /* width: 54px; */
    /* height: 54px; */
    /* background-color: black; */
}

.yin1-step1-label-drag-trapped-label-wrapper-hidden {
    /* border-radius: 54px; */
    box-shadow: inset 1px 1px 5px 0px #222;
    /* background-color: #333; */
}

.yin1-step1-label-drag-label-wrapper-hidden * {
    display: none!important;
}

.yin1-step1-label-drag-trapped-label-wrapper-hidden * {
    display: none!important;
}

.yin1-step1-label-drag-trap-caption { left: 26px; }

#yin1-step1-label-drag-trap-0 .yin1-step1-label-drag-trap-caption {
    top: 65px;
}

#yin1-step1-label-drag-trap-1 .yin1-step1-label-drag-trap-caption {
    top: 210px;
}

#yin1-step1-label-drag-trap-2 .yin1-step1-label-drag-trap-caption {
    top: 325px;
}

#yin1-step1-label-drag-trap-0 .yin1-step1-label-drag-trap-delimiter {
    top: 131px;
}

#yin1-step1-label-drag-trap-1 .yin1-step1-label-drag-trap-delimiter {
    top: 304px;
}

#yin1-step1-label-drag-trapped-label-0  {
    top: 46px;
    left: 178px;
    /* height: 85px; */
    width: 46px;
}
#yin1-step1-label-drag-trapped-label-1  {
    top: 74px;
    left: 224px;
    /* widtH: 50px; */
    /* height: 57px; */
    /* padding-top: 26px; */
}
#yin1-step1-label-drag-trapped-label-2 {
    top: 47px;
    left: 274px;
    /* width: 50px; */
    /* height: 85px; */
}
#yin1-step1-label-drag-trapped-label-3 {
    top: 75px;
    left: 323px;
    /* height: 58px; */
    /* width: 53px; */
    /* padding-top: 31px; */
    /* padding-left: 0px; */
}
#yin1-step1-label-drag-trapped-label-4  {
    top: 139px;
    left: 191px;
    /* height: 81px; */
    /* padding: 7px; */
    /* width: 52px; */
}
#yin1-step1-label-drag-trapped-label-5  {
    top: 240px;
    left: 305px;
    /* height: 72px; */
    /* padding: 16px 0 0 5px; */
}
#yin1-step1-label-drag-trapped-label-6  {
    top: 146px;
    left: 314px;
    /* height: 80px; */
}
#yin1-step1-label-drag-trapped-label-7  {
    top: 227px;
    left: 193px;
    /* height: 56px; */
    /* padding: 11px; */
    /* width: 44px; */
}
#yin1-step1-label-drag-trapped-label-8  {
    top: 185px;
    left: 252px;
    /* width: 61px; */
    /* height: 128px; */
    /* padding: 44px 0px 0px 11px; */
}
#yin1-step1-label-drag-trapped-label-9  {
    top: 307px;
    left: 184px;
}
#yin1-step1-label-drag-trapped-label-10 {
    top: 310px;
    left: 249px;
}
#yin1-step1-label-drag-trapped-label-11 {
    top: 308px;
    left: 316px;
}

.yin1-step1-label-drag-trap-delimiter {
    width: 157px;
    left: 17px;
}

.yin1-step1-label-drag-wrapper {
    position: relative;
    margin: 30px 0;
    height: 412px;
}

.yin1-step1-label-drag-traps-wrapper {

width: 337px;

position: relative;
}

.yin1-step1-label-drag-labels-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 490px;
    height: 300px;
    /* outline: gray 1px solid; */
    position: absolute;
    right: 0;
    top: 30px;
}

.yin1-step1-label-drag-trapped-label-wrapper .yin1-step1-label-drag-label-caption {
    display: none;
}

.yin1-step1-label-drag-label {
    position: absolute;
    /* border-style: solid; */
    border-width: 2px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-size: 15px;
    /* box-shadow: 0px 2px 3px 0px grey; */
    z-index: 10;
    /* background-color: white; */
    top: 2px;
    left: 2px;
}

.yin1-step1-label-drag-label-caption {
    margin: 5px;
    max-width: 80px;
    vertical-align: middle;
    position: relative;
    display: table-cell;
    height: 50px;
    left: 58px;
}
