/*
 Original data is taken froum styleguide 2.0
 https://3.basecamp.com/3576524/buckets/2650597/todos/619920249
 Part of CJAF
 */



.cjaf-header {
    font-size: 28px;
    line-height: 32px;
    padding-top: 20px;
}

.cjaf-header-font {
    font-family: "Conqueror Sans Black", sans-serif;
}


.cjaf-subheader {
    font-size: 22px;
    line-height: 28px;
    padding-top: 20px;
}

.cjaf-subheader-font {
    font-family: "Conqueror Sans Regular", sans-serif;
}



.cjaf-text {
    font-size: 17px;
    line-height: 24px;
}

.cjaf-text-font {
    font-family: "Conqueror Sans Regular", sans-serif;
}


.cjaf-interactive-text {
    font-size: 17px;
    line-height: 36px;
}

.cjaf-interactive-text-font {
    font-family: "Open Sans Regular", sans-serif;
}


/*
 Button
 */

.cjaf-button-text {
    font-size: 14px;
    line-height: 20px;
}

.cjaf-button-text-font {
    font-family: "Open Sans Regular", sans-serif;
}
