
* {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.ui-draggable-dragging {
    cursor: -webkit-grabbing!important
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

.cjaf-anchor-top        { top: 0 }
.cjaf-anchor-left       { left: 0 }
.cjaf-anchor-right      { right: 0 }
.cjaf-anchor-bottom     { bottom: 0 }

.cjaf-padding           { padding: 10px }

.cjaf-padding-top       { padding-top: 10px }
.cjaf-padding-left      { padding-left: 10px }
.cjaf-padding-right     { padding-right: 10px }
.cjaf-padding-bottom    { padding-bottom: 10px }

.cjaf-margin           { padding: 10px }

.cjaf-margin-top       { margin-top: 10px }
.cjaf-margin-left      { margin-left: 10px }
.cjaf-margin-right     { margin-right: 10px }
.cjaf-margin-bottom    { margin-bottom: 10px }



.cjaf-block      { display: block }

.cjaf-inline     { display: inline-block }

.cjaf-table-cell { display: table-cell;}

.cjaf-absolute   { position: absolute;}

.cjaf-relative   { position: relative }

.cjaf-center     { text-align: center }

.cjaf-v-center   { vertical-align: middle }

.cjaf-v-top      { vertical-align: top }

.cjaf-cursor-pointer    { cursor: pointer }

.cjaf-transition        { transition: 0.1s linear }

.cjaf-outer-shadow      { box-shadow: 0 0 3px 1px #CCCCCC }
